
<?php

include('templates\partials\auth_header.php');

?>


<div class="container-fluid " style="min-height: 135px;"></div>

<?php
if(isset($_SESSION['pswd_err'])):
echo '<div class="alert alert-danger alert-dismissible">';
echo '<button class="close" type="button" data-dismiss="alert">×</button>';
echo "<strong>".$_SESSION['pswd_err']."</strong>";
echo '</div>';
unset($_SESSION['pswd_err']);
endif;

?>

<div class="container bootstrap snippet ">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Change password
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
                            <img alt="" class="img-thumbnail" src="http://bootdey.com/img/Content/avatar/avatar1.png">
                        </div>
                        <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                            <form action="/dmytro_test/public/change/password" method="post">
                            <div class="form-group <?php echo @$_SESSION['errors']['old-password']? ' has-error':''; ?> ">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    <input class="form-control"  name="old-password" type="password"  placeholder="Current Password">
                                </div>
                                <span class="help-block"><?php echo @$_SESSION['errors']['old-password'][0]??''; ?></span>
                            </div>

                            <div class="form-group <?php echo @$_SESSION['errors']['password']? ' has-error':''; ?> ">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                    <input class="form-control" name="password" type="password" placeholder="New Password">
                                </div>
                                <span class="help-block"><?php echo $_SESSION['errors']['password'][0]??''; ?></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn icon-btn-save btn-success" type="submit">
                                <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid " style="min-height: 135px;"></div>

<?php

include('templates\partials\auth_footer.php');

?>

<!-- jQuery -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/dmytro_test/public/js/jqBootstrapValidation.js"></script>
<script src="/dmytro_test/public/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="/dmytro_test/public/js/freelancer.min.js"></script>

</body>

</html>